body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#container {
  width: 960px;
  height: auto;
  margin: 0 auto;
  background: rgb(65, 30, 30);
  padding: 20px 0 20px 20px;
}

#header {
  width: 960px;
  height: 80px;
  background: #fff;
  display: block;
  margin: 0 auto;
  padding: 0;
  
}

#header h1 {
  float: left;
  padding: 0 0 0 0;
  font-family: "Comic Sans MS";
}

#header h3 {
  float: right;
}

#mainContent {
  width: 940px;
  height: auto;
}

#top {
  width: 100%;
  height: 285px;

}

#top img {
  width: 392px;
  height: auto;
  border: rgb(161, 156, 156) 4px solid;
  /* display: inline-block; */
  float: left;
}

.aboutMe {
  width: 520px;
  height: 265px;
  float: right;
}

.bgGrey {
  background: linear-gradient(to right, whitesmoke,rgb(189, 189, 189));
}

.bgLightPink {
  background: linear-gradient(to right, whitesmoke, rgb(228, 192, 210));
}

.project {
  width: 300px;
  height: auto;
  margin-top: 0;
  margin-right: 10px;
  padding-bottom: 10px;
  display: inline-block;
}
.projectPicture{
  width: 100%;
  height: auto;
}
div.wrapper {
  padding: 0 10px 0 10px;
  font-size: 14px;
}
.headText {
  background: linear-gradient(rgb(161, 156, 156), gray, rgb(161, 156, 156));
  width: 100%;
  height: auto;
  display: block;
  line-height: 30px;
  color: gainsboro;
  padding: 5px 0 5px 0px;
  margin: 0;
}
.headText h4 {
  margin: 0 0 0 10px;
  padding: 0 0 0 0;
}

a, a:visited {
  color: rgb(0, 0, 0);
}

.button {
  width: 120px;
  height: auto;
  background: #195d19;
  border: 1px solid;
  border-radius: 5px;
  padding: 5px;
  margin: 20px auto;
  text-align: center;
}

.button a {
  color: white;
  /* font-weight: bold; */
  text-decoration: none;
  
}

.logo {
  width: 40px;
  height: auto;
  padding: 10px 0 0 10px;
}

#footer {
  width: 960px;
  height: 80px;
  background: #fff;
  /* display: block; */
  margin: 0 auto;
  padding: 10px 0 0 0;
  text-align: center;
  vertical-align: middle;
  /* line-height: 90px; */
}
#footer img {
  width: 20px;
  vertical-align: bottom;
  margin-right: 5px;
}
#footer .email {
  text-decoration: none;
}